body {
    font-family: "Source Sans Pro", "Helvetica", "Arial", "sans-serif";
    font-size: 17px;
}


.container-form{
  background-color:white;
}

.text-title {
    text-transform: uppercase;
    font-weight: 700;
    color: #f8981e;
    font-size: 50px;
    word-wrap: break-word;
    text-align: center;
}

.text-subtitle {
    text-align: center;
    margin-top: -25px;
    padding-bottom: 20px;
    word-wrap: break-word;
}

.dec-line {
    margin-top: -20px;
    margin-bottom: 40px;
}

@media (min-width: 768px) and (max-width:991.5px) {
    .container-form {
        border-left-style: solid;
        border-right-style: solid;
        border-width: 2px;
        border-color: #e2e2e2;
        border-radius: 10px;
    }
}

.form {
    border-color: #e2e2e2;
    border-radius: 10px;
    padding: 10px 20px 0 20px;
    border-width: 2px;
}

@media(min-width: 992px) {
    .form-left {
        border-left-style: solid;
    }

    .form-right {
        border-right-style: solid;
    }
   
        
    }


.ctooltip {
    position: relative;    
    display: inline-block;
    border-bottom: 1px dotted black;
    
}

    .ctooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #f8981e;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -60px;
    }

        .ctooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #f8981e transparent transparent transparent;
        }

    .ctooltip:hover .tooltiptext {
        visibility: visible;
    }
