body {
    max-width: 100%;
    overflow-x: hidden;
}

.text-title {
    font-family: "Source Sans Pro", "Helvetica", "Arial", "sans-serif";
    font-weight: 500;
    font-size: 20px;
}

.container-list {
    background-color: #f2f2f2;
    margin: 10px auto 10px auto;
    position: relative;
    width: 90%;
}

    .container-list:hover {
        background-color: #eFeFeF;
    }

.container-info {
    width: 60%;
    word-wrap: break-word;
}

.button {
    border: none;
    color: #FFF;
    text-decoration-color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
}

.button-readmore {
    color: #FFF;
    background-color: #00b6dd;
}

    .button-readmore:hover {
        background-color: #00a7cc;
        text-decoration: none;
        color: #FFF;
    }

.button-book {
    background-color: #f8981e;
}

    .button-book:hover {
        background-color: #f78f08;
        text-decoration: none;
        color: #FFF;    
    }

@media (min-width: 551px) {
    .button {
        height: 101%;
        top: 0;
    }

    .container-list {
        border-radius: 8px;
        padding: 5px 8px 5px 8px;
    }

    .button-readmore {
        border-radius: 8px;
        right: -0.03em;
        padding-left: 25px;
    }

    .button-book {
        border-left-style: solid;
        border-left-color: #727272;
        border-left-width: 1px;
        right: 88px;
    }
}

@media (max-width: 550px) {
    .button {
        margin-top: 7px;
        position: relative;
        bottom: 0;
        height: 55px;
        width: 100%;
    }

    .button-book {
        border-radius: 0 0 13px 0;
    }

    .button-readmore {
        border-radius: 0 0 0 13px;
    }

    .container-info {
        text-align: center;
        padding: 5px;
        width: 100%
    }

    .container-list {
        border-radius: 15px;
    }

    .container-button {
        display: flex;
    }
}

.filter {
    background-color: #f2f2f2;
    border-width: 1px;
    border-radius: 13px;
    padding: 10px;
    color: #333;
    text-align: center;
}

.search {
    width: 100%;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    padding: 3px;
}

.flex {
    display: flex;
    margin-top: 5px;
    flex-wrap: wrap;
}

    .flex > div {
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        padding: 0 3px 0 3px;
        background-color: lightgray;
        margin: 3px 5px;
        cursor: not-allowed;
    }

/*.sticker {
    transition: all 0.5s ease;
    transform: scale(0.5) rotate(-20deg);
    position: absolute;
    top: 50px;
    right: -30px;
}

    .sticker:hover {
        opacity: 90;
        -webkit-transform: scale(0.75) rotate(20deg);
        -moz-transform: scale(0.75) rotate(20deg);
        -ms-transform: scale(0.75) rotate(20deg);
        -o-transform: scale(0.75) rotate(20deg);
        transform: scale(0.75) rotate(20deg);
    }
    */