body {
    font-family: "Source Sans Pro", "Helvetica", "Arial", "sans-serif";
    font-size: 17px;
}

.CourseName {
    color: #f8981e;
    font-size: 50px;
    text-transform: uppercase;
}

.LeaderImg{
    max-width:500px;
    width:100%
}

.LeaderEmail {
    background-color:lightcoral;
    width: 100%;
    position: relative;
    left: 0;
    z-index: 1;
    min-height: 50px;
    bottom: 0;
}

.CourseSubtitle {
    font-weight: 400;
    font-size: 23px;
    margin-top: -23px;
}

.CourseBold {
    font-weight: 900;
    margin-top: 25px;
}

.CourseOccasionItem {
    border-style:solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.Boka {
    right: 25px;
    position: absolute;    
}