@model Utbildning.Models.ApplicationUser
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}
<h2>Profilinställningar</h2>
<h4>Bild: <a href="~/Kursledare/Profil/Bild">(Ändra)</a></h4>
<img style="border: 1px solid black;" src="@ViewBag.Img" />
<h4>Namn: @ViewBag.FullName <a href="~/Kursledare/Profil/Namn">(Ändra)</a></h4>
<ul>
    <li><a href="~/Kursledare/Profil/Lösenord">Byt lösenord</a></li>
</ul>