<h2>Välkommen till adminsidan, @User.Identity.Name</h2>
<ul>
    <li>@Html.ActionLink("Registrera ny kursledare", "Ny", "Kursledare")</li>
    <li>@Html.ActionLink("Se kursledare", "", "Kursledare")</li>
</ul>