<h4>Avbokat</h4>
<p>Du har nu avbokat alla dina kommande kurser.</p>
<p>Om du vill boka om eller ändra en bokning för en kurs som redan börjat, kontakta kursansvarig.</p>
<p>För att boka nya, klicka <a href="~/Kurser">här!</a></p>
@ViewBag.Url