@model IEnumerable<Utbildning.Models.Course>

@{
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/List.css">
</head>


<h2 style="margin:0;">Utbildningar</h2>

<p>
    Här hittar du alla våra utbildningar!
</p>

@foreach (var item in Model)
{
    <div class="container-list">
        <div class="container-info">
            <text class="text-title">
                @Html.DisplayFor(modelItem => item.Name)
            </text>
            <br />
            <text class="text-city">
                @((item.City == null ? "" : item.City) + (item.City != null && item.Length > 0 ? ", " : item.City != null ? "." : "") + (item.Length > 0 ? item.Length + " dagar." : item.City == null && item.Length < 1 ? "-" : ""))
            </text>
        </div>
        <div class="container-button">

            <a class="button button-all button-readmore" href='@Url.Action("LäsMer", "Kurser", new {id=item.Id } )'>Läs Mer</a>
            <a class="button button-all button-book" href='@Url.Action("Boka", "Kurser", new {id=item.Id } )'>Boka</a>
        </div>
    </div>
}

