<div class="row">
    <div class="col-md-6">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Bold</h3>

        <p>@ViewBag.Text</p>
        <a href="~/Kurser/Persondata">Persondata</a>
    </div>
</div>