
<script>
    function getURL() {
        document.getElementById("myInput").value = document.URL; 
    }
</script>
@{
    ViewBag.Title = "Om";
}

<h2>Persondata</h2>
<p>Skriv in din email här så skickar vi all data vi har om dig.</p>
<p>(Om du inte får något mail så innebär det att vi inte har något om dig.)</p>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Editor("UserEmail", new { htmlAttributes = new { @class = "form-control", @onkeyup="getURL()" } })

    @Html.Editor("test", new { htmlAttributes = new {@class = "form-control", @id = "myInput", @type = "hidden"}})
}