@model Utbildning.Models.CourseTags
@{
    ViewBag.Title = "Taggar";
}

<h2>Taggar / Kategorier</h2>
<h4 style="color:red">@ViewBag.Warning</h4>

@foreach (var item in ViewBag.Tags)
{
    <div>
        <input disabled value="@item.Text" style="display:inline;"><a href="~/Kursledare/Kurser/Kurs/Tagg/Radera/@item.Id">-</a>
    </div>

}
@using (Html.BeginForm(new { param1 = "SkapaTagg", param2 = ViewBag.CourseId }))
{
    <div>
        @Html.EditorFor(model => model.Text)
        <input type="submit" value="+">
    </div>
}

<a href="~/Kursledare/Kurser/kurs/@ViewBag.CourseId">← Till Kursen</a>